/* Buy car style */

.header-title {
    position: relative;
    margin: 0 auto;
    text-align: center;
    height: 30px; /* Fixed height for the title */
}

.left-top-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px; /* Fixed width for the image */
    height: auto; /* Height is set to auto to maintain aspect ratio */
}

body {
    font-family: Arial, sans-serif;
}

.form-title {
    text-align: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

.form-section {
    max-height: 100%;
    width: 600px;
    border: 3px solid black;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
  
h2 {
    text-align: center;
    margin-top: 0;
}
  
.form-row {
    display: flex;
    text-align: center;
    margin-bottom: 5%; /* Consistent bottom margin for spacing */
    gap: 2%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.form-row label{
    padding-left: 20%;
    font-weight: bold;
}
  
.gender-row {
    display: flex;
    margin-bottom: 10%;
}  
  
.gender-row label {
    padding-left: 2%;
    font-weight: normal;
    white-space: nowrap;
}

.gender-row label[for="non-binary"] {
    margin-left: 34%; /* Adjust this value as needed */
}

.gender-row label[for="prefer-not-to-say"] {
    margin-left: 34%; /* Adjust this value as needed */
}

input[type="radio"] {
    margin-right: 5px; /* Space after the radio button */
}
 
input[type="text"]{
    width: 40%;
}

input[type="email"]{
    width: 40%;
}

input[type="tel"]{
    width: 30%;
}

select {
    margin-bottom: 10px;
    width: 30%; /* Adjust width as needed */
    margin-bottom: 10px; /* Space after each input */
}
  
.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.button-group input[type="submit"], .button-group input[type="reset"] {
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 10px;
}
  
.button-group input[type="submit"]:hover, .button-group input[type="reset"]:hover {
    background-color: #f2f2f2;
}

/* About us style */

/*
navigation bar
*/
.navi{
    
    text-align: center;
    height: 100px;
    background-color: rgb(78, 82, 74);
    transition: transform 0.3s, background 0.3s;
}

.navi:hover{
    background-color: rgb(100, 105, 95);
    transform: scale(1.1);
}
/*
modify navigation bar's links and delete underline
*/
.link{
    text-decoration: none;
    color: #ffffff;
}

.row{
    align-items: center;
    display: flex;
}

footer{
    text-align: center;
}

/*
set the map height
*/
#map{
    height: 500px;
}