/* Index style */
.brands img {
    height: 200px;
    width: 306px;
    justify-content: space-between;
    align-items: center;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.brands {
    display: inline-block;
    text-align: center;
    font-family: 'Rokkitt', serif;
    font-size:x-large;
}

.brands img:hover {
    background-color: rgb(100, 105, 95);
    transform: scale(1);
}
/* cars style */


.cars {
        display: block;
        height: 100px;
        width: 100px;

}
h2{
    font-family: 'Rokkitt', serif;
}
h3{
    font-family: 'Rokkitt', serif;
}
h4{
    font-family: 'Rokkitt', serif;
}
.catalogue {
    float: left;
    width: 85px;
    padding: 4px;
    padding-bottom: 3px;


}



/* Buy car style */
.container {
    max-width: 960px;
}

/* About us style */
.sales-image:hover {
    transform: scale(1.1);
    /* Enlarge the image on hover */
    transition: transform 0.3s ease;
    /* Smooth transition for the transform */
}

.sales-image {
    width: 350px;
    height: auto;
    margin: 10px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 1%;
    /* Adds some space below each container */
    align-items: center;
    /* Centers items horizontally */
    text-align: center;
    /* Centers the text */
}

/*
navigation bar
*/
.navi {

    text-align: center;
    height: 100px;
    background-color: rgb(78, 82, 74);
    transition: transform 0.3s, background 0.3s;
    padding: 35px 0;
}

.navi:hover {
    background-color: rgb(100, 105, 95);
    transform: scale(1.1);
}

/*
modify navigation bar's links and delete underline
*/
.link {
    text-decoration: none;
    color: #ffffff;
}

.row {
    align-items: center;
    display: flex;
}

footer {
    text-align: center;
}