@charset "UTF-8";



.brands {
    display: inline-block;
}
.brands img {
    height: 400px;
    width: 300px;
    object-fit: cover;
    margin-left: 5px;
    justify-content: center;
    display: flex;
    padding: 4px;
 

}